@use '../../scss/ui/button.scss' as *;
@use '../../scss/ui/text.scss' as *;

.branches-hero {
  padding: 1.125rem 0;

  &__banner {
    position: relative;
    background: #DAECF8;
    border-radius: 0.375rem;
    padding: 6.875rem 7.5rem;

    @media (max-width:1024px) {
      height: 33.125rem;
      padding: 1.25rem 1.875rem;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2.8125rem;
    max-width: 35rem;

    @media (max-width:1024px) {
      align-items: center;
      gap: 2.0625rem;
    }
  }

  &__info {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    z-index: 2;

    @media (max-width:1024px) {
      text-align: center;
    }
  }

  &__title {
    font-size: 2.625rem;
    color: #1D3658;
    margin: 0;

    @media (max-width:1024px) {
      font-size: 1.5rem;
    }
  }

  &__desc {
    font-size: 1.25rem;
    line-height: 120%;
    color: #1D3658;
    margin: 0;

    @media (max-width:1024px) {
      font-size: 0.875rem
    }

  }

  &__button {
    @include button;
  }

  &__image {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 100%;
    width: auto;
    z-index: 1;

    @media (max-width:1024px) {
      height: 21.875rem;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &--desktop {
      @media (max-width:1024px) {
        display: none;
      }
    }

    &--mobile {
      display: none;

      @media (max-width:1024px) {
        display: block;
      }
    }
  }
}