// Основные стили темы Sputnik Plus
@use './mixins/vars' as *;
@use './global/fonts.scss';
@use './root.scss';

@forward './global/container.scss';
@forward './parts/header.scss';
@forward './parts/msearch.scss';
@forward './parts/footer.scss';
@forward './parts/page-404.scss';
@forward './parts/breadcrumbs.scss';
@forward './parts/blog-archive.scss';
@forward './parts/single-post.scss';
@forward './parts/quote.scss';
@forward './parts/page-content.scss';
@forward './parts/search.scss';
@forward './parts/cookie-banner.scss';

body {
  font-family: "Onest", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  &.menu-open {
    overflow: hidden;
  }
}

html {
  scroll-behavior: smooth;
}
